doctype html
html(lang=en)
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="icon" type="image/x-icon" href="./dist/img/favicon.png")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css")
        link(rel="stylesheet" href="./dist/css/normalize.css")
        link(rel="stylesheet" href="./dist/css/skeleton.css")
        link(rel="stylesheet" href="./dist/css/index.css")
        title Password Generator
    body
        div#notification 
            p

        main
            div 
                h1 Password Generator
                p#password-output

            div#button-container 
                button#generate-password-btn.button-primary Generate 
                    i.fa-solid.fa-repeat
                button#copy-password-btn.button-primary Copy 
                    i.fa-solid.fa-copy
            
            div#options-container
                div
                    input(type="checkbox" id="lowercase")
                    label(for="lowercase") abc

                    input(type="checkbox" id="uppercase")
                    label(for="uppercase") ABC

                    input(type="checkbox" id="numbers")
                    label(for="numbers") 123

                    input(type="checkbox" id="special")
                    label(for="special") !#$
                
                div
                    label(for="password-length-output") Length
                        span#password-length-output (12)

                    input(type="range" id="password-length-input" min="8" max="20" value="12")

                div#clear-history-container
                    div#clear-history-btn 
                        span Clear History 
                        i.fa-solid.fa-trash
                
                div#history-container
                    ul#history-list
                        

        script(src="https://cdn.jsdelivr.net/npm/select-by@1.0.1/dist/select-by.min.js")
        script(src="./dist/js/index.js" type="module")